{% extends 'base.html.twig' %}

{% block title %}Library index{% endblock %}

{% block body %}
    <h1>Library index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Company</th>
                <th>Email</th>
                <th>Telephone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for library in libraries %}
            <tr>
                <td>{{ library.id }}</td>
                <td>{{ library.name }}</td>
                <td>{{ library.company }}</td>
                <td>{{ library.email }}</td>
                <td>{{ library.telephone }}</td>
                <td>
                    <a href="{{ path('app_library_show', {'id': library.id}) }}">show</a>
                    <a href="{{ path('app_library_edit', {'id': library.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_library_new') }}">Create new</a>
{% endblock %}
